<header id="header" class="header fixed-top d-flex align-items-center ms-2 rounded-2">

    <div class="d-flex align-items-center justify-content-between">
        <!--Login goes in here-->
        <i class="bi bi-list toggle-sidebar-btn text-dark"></i>
    </div>

</header><!-- End Header -->