<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar mt-3 ms-2 rounded-2 bs">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" href="home">
                <i class="bi bi-grid text-dark"></i>
                <span class="text-dark">Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="queue">
                <i class="bi bi-list-ul text-dark"></i>
                <span class="text-dark">Queue</span>
            </a>
        </li><!-- End Queue Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="booking">
                <i class="bi bi-plus-circle text-dark"></i>
                <span class="text-dark">Book</span>
            </a>
        </li><!-- End Book Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="users">
                <i class="bi bi-people text-dark"></i>
                <span class="text-dark">Users</span>
            </a>
        </li><!-- End users Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="haircut">
                <i class="bi bi-scissors text-dark"></i>
                <span class="text-dark">Haircuts</span>
            </a>
        </li><!-- End users Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href=login>
                <i class="bi bi-box-arrow-right text-dark"></i>
                <span class="text-dark">Sign Out</span>
            </a>
        </li><!-- End sign out Nav -->
    </ul>

</aside><!-- End Sidebar-->