<!DOCTYPE html>
<html lang="en">

<head>
    <title>Booking</title>
    <%- include('../partials/metadata') %>
</head>

<body>
    <!-- ======= Header ======= -->
    <%- include('../partials/header') %>

        <!-- ======= Sidebar ======= -->
        <%- include('../partials/sidebar') %>


            <!-- Main content-->
            <main id="main" class="main">

                <!--Time-->
                <div class="col-md-3">
                    <table class="table table-bordered table-striped table-hover bookingstable  rounded-2 bs">
                        <thead>
                            <tr>
                                <th>2 October 2023 (Monday)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="slot1" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="1" disabled="disabled" hidden="hidden"> 8:00</label>
                                    <span id="slottext1">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot2" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="2" disabled="disabled" hidden="hidden"> 8:30</label>
                                    <span id="slottext2">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot3" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="3" disabled="disabled" hidden="hidden"> 9:00</label>
                                    <span id="slottext3">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot4" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="4" disabled="disabled" hidden="hidden"> 9:30</label>
                                    <span id="slottext4">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot5" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="5" disabled="disabled" hidden="hidden"> 10:15</label>
                                    <span id="slottext5">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot6" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="6" disabled="disabled" hidden="hidden"> 10:45</label>
                                    <span id="slottext6">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot7" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="7" disabled="disabled" hidden="hidden"> 11:15</label>
                                    <span id="slottext7">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot8" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="8" disabled="disabled" hidden="hidden"> 11:45</label>
                                    <span id="slottext8">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot9" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="9" disabled="disabled" hidden="hidden"> 13:15</label>
                                    <span id="slottext9">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot10" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="10" disabled="disabled" hidden="hidden"> 13:45</label>
                                    <span id="slottext10">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot11" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="11" disabled="disabled" hidden="hidden"> 14:15</label>
                                    <span id="slottext11">(unavailable)</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="slot12" style="background-color: rgb(255, 230, 230);"><label><input type="radio"
                                            name="slot" value="12" disabled="disabled" hidden="hidden"> 14:45</label>
                                    <span id="slottext12">(unavailable)</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <!--Total Price-->

            </main><!-- End #main -->

            <!-- ======= Footer ======= -->
            <%- include('../partials/footer') %>
</body>

</html>