<!DOCTYPE html>
<html lang="en">

<head>
    <title>hair style</title>


    <%- include('../partials/metadata') %>
        <script src='/calender/dist/index.global.js'></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialDate: '2024-01-27',
                    initialView: 'timeGridDay',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: ''
                    },
                    themeSystem: 'bootstrap', // Use Bootstrap styling
                    height: 'auto',
                    navLinks: true, // can click day/week names to navigate views
                    editable: true,
                    selectable: true,
                    selectMirror: true,
                    nowIndicator: true,
                    select: function (arg) {
                        var title = prompt('Event Title:');
                        if (title) {
                            calendar.addEvent({
                                title: title,
                                start: arg.start,
                                end: arg.end,
                                allDay: arg.allDay
                            })
                        }
                        calendar.unselect()
                    },
                    eventClick: function (arg) {
                        var selectedColor = 'black';
                        var unselectedColor = 'lightgrey';

                        calendar.getEvents().forEach(function (event) {
                            if (event !== arg.event) { // Exclude the clicked event
                                event.setProp('backgroundColor', unselectedColor);
                                event.setProp('borderColor', unselectedColor);
                            }
                        });

                        //clicked event
                        arg.event.setProp('backgroundColor', selectedColor);
                        arg.event.setProp('borderColor', selectedColor);

                        var title = arg.event.title;
                        var start = arg.event.start;
                        var end = arg.event.end;

                        // Log the information (you can use it as needed)
                        console.log('Title:', title);
                        console.log('Start:', start);
                        console.log('End:', end);



                    },
                    events: [
                        {
                            title: 'All Day Event',
                            start: '2024-01-27',
                        },
                        {
                            title: 'Long Event',
                            start: '2024-01-27',
                            end: '2024-01-28'
                        },
                        {
                            groupId: 999,
                            title: 'Repeating Event',
                            start: '2024-01-27T16:00:00'
                        },
                        {
                            groupId: 999,
                            title: 'Repeating Event',
                            start: '2024-01-28T16:00:00'
                        },
                        {
                            title: 'Conference',
                            start: '2024-01-28T16:00:00',
                            end: '2024-01-28T18:00:00'
                        },
                        {
                            title: 'Meeting',
                            start: '2024-01-27T10:30:00',
                            end: '2024-01-27T12:30:00'
                        },
                        {
                            title: 'Lunch',
                            start: '2024-01-27T12:00:00'
                        },
                        {
                            title: 'Meeting',
                            start: '2024-01-27T14:30:00'
                        },
                        {
                            title: 'Happy Hour',
                            start: '2023-01-12T17:30:00'
                        },
                        {
                            title: 'Dinner',
                            start: '2023-01-12T20:00:00'
                        },
                        {
                            title: 'Birthday Party',
                            start: '2023-01-13T07:00:00'
                        },
                        {
                            title: 'Click for Google',
                            url: 'http://google.com/',
                            start: '2023-01-28'
                        }
                    ]
                });

                calendar.render();
            });

        </script>

        <style>
            .fc-prev-button,
            .fc-next-button,
            .fc-today-button,
            .fc-dayGridMonth-button,
            .fc-timeGridWeek-button,
            .fc-timeGridDay-button,
            .fc-listWeek-button {
                background: black !important;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
            }
        </style>


</head>

<body>
    <!-- ======= Header ======= -->
    <%- include('../partials/header') %>

        <!-- ======= Sidebar ======= -->
        <%- include('../partials/sidebar') %>


            <!-- Main content-->
            <main id="main" class="main">
                <!--Selecting the Schedule {Time}-->
                <div class="card p-3 mt-0">
                    <div class="card-body">
                        <div id='calendar'></div>
                    </div>
                </div>

            </main><!-- End #main -->

            <!-- ======= Footer ======= -->
            <%- include('../partials/footer') %>

</body>

</html>