<!DOCTYPE html>
<html lang="en">

<head>
    <title>hair style</title>
    <%- include('../partials/metadata') %>
</head>

<body>
    <!-- ======= Header ======= -->
    <%- include('../partials/header') %>

        <!-- ======= Sidebar ======= -->
        <%- include('../partials/sidebar') %>


            <!-- Main content-->
            <main id="main" class="main">

                <!--hair cut-->
                <section class="section">
                    <div class="row align-items-top">
                        <!-- <div lass="col-lg-3">
                                            <div class="card">
                                                <img src="/img/card.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card with an image on top</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make
                                                        up the bulk of the card's content.</p>
                                                </div>
                                            </div>
                                        </div> -->

                        <div class="col-lg-3">
                            <!-- Card with an image on bottom -->
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Card with an image on bottom</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up the bulk of the card's content.</p>
                                </div>
                                <img src="/img/card.jpg" class="card-img-bottom" alt="...">
                            </div><!-- End Card with an image on bottom -->
                        </div>
                    </div>
                </section>

                <!--extra thing to pick-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">With Checkboxes and radios</h5>

                        <!-- List group With Checkboxes and radios -->
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                First checkbox
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Second checkbox
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Third checkbox
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Fourth checkbox
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Fifth checkbox
                            </li>
                        </ul><!-- End List Checkboxes and radios -->

                    </div>
                </div>


            </main><!-- End #main -->

            <!-- ======= Footer ======= -->
            <%- include('../partials/footer') %>
</body>

</html>