<!DOCTYPE html>
<html lang="en">

<head>
    <title>Booking</title>


    <%- include('../partials/metadata') %>

        <style>
            .list-group-item .form-check-input:checked {
                background-color: black;
                border-color: black;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            .list-group-item .form-check-input {
                /* background-color: black; */
                border-color: lightgrey;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }

            .list-group-item .form-check-input:focus {
                box-shadow: 0 0 0 0.25rem lightgray;
            }
        </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <%- include('../partials/header') %>

        <!-- ======= Sidebar ======= -->
        <%- include('../partials/sidebar') %>


            <!-- Main content-->
            <main id="main" class="main">

                <!--Time-->
                <ul class="list-group bs">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                        <label class="form-check-label" for="firstCheckbox">First checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                        <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                        <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
                    </li>
                </ul>

                <!--Total Price-->

            </main><!-- End #main -->

            <!-- ======= Footer ======= -->
            <%- include('../partials/footer') %>
</body>

</html>