<!DOCTYPE html>
<html lang="en">

<head>
    <title>haircuts</title>
    <%- include('../partials/metadata') %>
</head>

<body>
    <!-- ======= Header ======= -->
    <%- include('../partials/header') %>

        <!-- ======= Sidebar ======= -->
        <%- include('../partials/sidebar') %>


            <!-- Main content-->
            <main id="main" class="main">



            </main><!-- End #main -->

            <!-- ======= Footer ======= -->
            <%- include('../partials/footer') %>
</body>

</html>